<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div id="root">
        <div id="header">
            <h2>Healthy Foodie</h2>
        </div>
    </div>

    <div id="navigator">
        <ul>
            <li>Home</li>
            <li class="collapsible">Hôm nay ăn gì</li>
                <div id="collapsible-content">
                    <li>Xuân</li>
                    <li>Hạ</li>
                    <li>Thu</li>
                    <li>Đông</li>
                </div>
            <li>Đóng góp</li>
            <li>Follow</li>
        </ul>
    </div>

    <div>
        <div class="form-group">
            <label for="">Tên</label> <br>
            <input type="text" name = "Tên" class="block">
        </div>
    
        <div class="form-group">
            <label for="">Email</label> <br>
            <input type="text" name = "Email" class="block">
        </div>
        
        <div class="form-group">
            <label for="">Nội dung đóng góp</label> <br>
            <input type="text" name = "Nội dung đóng góp" class="block">
        </div>

    </div>
</body>
</html>