<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'metadata.html' %}
  <title>Document</title>
</head>
<body class="bg-light">
  <div class=" background-page1 h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="w-50 h-50">
            <div class="h-50 d-flex justify-content-around">
                <div class="span3 wow rollIn">
                    <span class="bigsize healthyfood">H</span>
                  </div>
                
                  <div class=" span3 wow rollIn">
                    <span class="bigsize healthyfood">E</span>
                  </div>
                
                  <div class="span3 wow rollIn">
                    <span class="bigsize healthyfood">A</span>
                  </div>
                
                  <div class="span3 wow lightSpeedIn ">
                    <span class="bigsize healthyfood">L</span>
                  </div>
                
                  <div class="span3 wow lightSpeedIn">
                    <span class="bigsize healthyfood">T</span>
                  </div>
                
                  <div class="span3 wow lightSpeedIn">
                    <span class="bigsize healthyfood">H</span>
                  </div>
                
                  <div class="span3 wow lightSpeedIn">
                    <span class="bigsize healthyfood">Y</span>
                  </div>
              </div>
              <div class="h-50 d-flex justify-content-around">
                  <div class="span3 wow rollIn" data-wow-delay='0.5s'>
                      <span class="bigsize healthyfood">F</span>
                    </div>
                  
                    <div class="span3 wow rollIn" data-wow-delay='0.5s'>
                      <span class="bigsize healthyfood">O</span>
                    </div>
                  
                    <div class="span3 wow rollIn" data-wow-delay='0.5s'>
                      <span class="bigsize healthyfood">O</span>
                    </div>
                  
                    <div class="span3 wow lightSpeedIn" data-wow-delay='0.5s'>
                      <span class="bigsize healthyfood">D</span>
                    </div>
                  
                    <div class="span3 wow lightSpeedIn" data-wow-delay='0.5s'>
                      <span class="bigsize healthyfood">I</span>
                    </div>
        
                    <div class="span3 wow lightSpeedIn" data-wow-delay='0.5s'>
                        <span class="bigsize healthyfood">E</span>
                      </div>
              </div>
        </div>   
  </div>

  

  <div class=" bg9">
    <div class="d-flex justify-content-center"><p class="intro1 span3 wow flipInX center" >Giới Thiệu</p></div>
    <div>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
              <div class="col-md-7 bg2 ">
                
              </div>
              
              <div class="ml-3 col-md-4 bg4 text-paragraph rounded">
          
              Sống trong thời đại bận rộn như hiện nay, người ta thường ít quan tâm đến chế độ dinh dưỡng của mình. Hoặc kể cả có quan tâm và tìm hiểu, thì thường chế độ ăn uống đó không duy trì được lâu.
                <br>
                <br>

                Đứng trước vấn đề đó, Healthy Foodie đã được tạo ra. Healthy Foodie là trang web phi lợi nhuận cung cấp thông tin trực quan về các món ăn THỰC DƯỠNG phù hợp môi trường tự nhiên ở Việt Nam. 
                <br> 
                <br>

                “Thực dưỡng Ohshawa là một hệ thống triết lý và thực hành để nhằm diễn giải bằng ngôn từ hiện đại Nguyên lý Vô Song của nền triết học Đông Phương - cụ thể là triết lý âm dương trong triết học Trung Hoa.” (theo Wikipedia) Bằng việc điều hòa cơ thể qua ăn uống, cơ thể của chúng ta sẽ trở nên khỏe mạnh hơn do quá trình thải độc hiệu quả được diễn ra. 
                <br>
                <br>

                Cùng ăn uống lành mạnh hơn với Healthy Foodie bạn nhé :>
              </div>

            </div>
          </div>
    </div>
  </div>

  <div class="mt-5 p-2">
    <div class="d-flex justify-content-center">
      <p class="intro3 span3 wow flipInX center"> Chọn mùa trong năm </p>
    </div>
    
    <div>
        <div class="d-flex justify-content-around">
                <div>
                  <a class="effect" href="{{url_for('option',season = 'spring')}}">  
                  <div style=" background-color: red;" class=" d-flex justify-content-center align-items-center fourSeason rounded spring1 ">
                    <p class="intro2"> Spring </p>
                  </div>
                    </a>

                    <a class="effect" href="{{url_for('option',season = 'summer')}}">
                      <div style="background-color: red;" class="d-flex justify-content-center align-items-center fourSeason mt-4 text-paragraph summer1 rounded">
                          <p class="intro2"> Summer </p>

                      </div>
                    </a>
                </div>
              
                <div>
                    <a class="effect" href="{{url_for('option',season = 'autumn')}}">
                    <div style=" width:500px; height:275px; background-color: red;" class="d-flex justify-content-center align-items-center fourSeason text-paragraph autumn1 rounded">
                        <p class="intro2"> Autumn </p>
                        <!-- <img style=" width:500px; height:275px" src="../static/autumn.jpg" alt=""> -->
                      </div>
                    </a>
                      <!-- <div class="ml-2 col-md-4 bg3">
                        Two of three columns
                      </div> -->
                      <a class="effect" href="{{url_for('option',season = 'winter')}}">
                      <div style=" width:500px; height:275px; background-color: red;" class="d-flex justify-content-center align-items-center fourSeason mt-4 text-paragraph winter1 rounded">
                          <p class="intro2"> Winter </p>
                          <!-- <img style=" width:500px; height:275px" src="../static/winter.jpg" alt=""> -->
                      </div>
                      </a>
                </div>
              
                
              

          </div>
            
    </div>

  </div>

  {% include 'animated.js' %}
</body>
</html>