<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'metadata.html' %}
  <title>Document</title>
</head>
<body>
  <div class="d-flex justify-content-around"> 
  <div class="wow bounceInUp center">
    <span class="bigsize" data-wow-duration="1s">H</span>
  </div>

  <div class="wow bounceInUp center" data-wow-duration="2s">
    <span class="bigsize">E</span>
  </div>

  <div class="wow bounceInUp center" data-wow-duration="3s">
    <span class="bigsize">A</span>
  </div>

  <div class="wow bounceInUp center " data-wow-duration="4s">
    <span class="bigsize">L</span>
  </div>

  <div class="wow bounceInUp center" data-wow-duration="5s">
    <span class="bigsize">T</span>
  </div>

  <div class="wow bounceInUp center" data-wow-duration="6s">
    <span class="bigsize">H</span>
  </div>

  <div class="wow bounceInUp center" data-wow-duration="7s">
    <span class="bigsize">Y</span>
  </div>
</div>

<div class="d-flex justify-content-between">
  <div class="wow bounceInUp center" data-wow-duration="8s">
    <span class="bigsize">F</span>
  </div>

  <div class="wow bounceInUp center" data-wow-duration="9s">
    <span class="bigsize">O</span>
  </div>

  <div class="wow bounceInUp center" data-wow-duration="10s">
    <span class="bigsize">O</span>
  </div>

  <div class="wow bounceInUp center" data-wow-duration="11s">
    <span class="bigsize">D</span>
  </div>

  <div class="wow bounceInUp center" data-wow-duration="11s">
    <span class="bigsize">Y</span>
  </div>
</div>

  
  {% include 'animated.js' %}
</body>
</html>