<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'metadata.html' %}
  <title>Document</title>
</head>
<body class="bg-light">
  <div class=" background-page1 h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="w-50 h-50">
            <div class="h-50 d-flex justify-content-around">
                <div class="span3 wow rollIn">
                    <span class="bigsize healthyfood">H</span>
                  </div>
                
                  <div class=" span3 wow rollIn">
                    <span class="bigsize healthyfood">E</span>
                  </div>
                
                  <div class="span3 wow rollIn">
                    <span class="bigsize healthyfood">A</span>
                  </div>
                
                  <div class="span3 wow lightSpeedIn ">
                    <span class="bigsize healthyfood">L</span>
                  </div>
                
                  <div class="span3 wow lightSpeedIn">
                    <span class="bigsize healthyfood">T</span>
                  </div>
                
                  <div class="span3 wow lightSpeedIn">
                    <span class="bigsize healthyfood">H</span>
                  </div>
                
                  <div class="span3 wow lightSpeedIn">
                    <span class="bigsize healthyfood">Y</span>
                  </div>
              </div>
              <div class="h-50 d-flex justify-content-around">
                  <div class="span3 wow rollIn" data-wow-delay='0.5s'>
                      <span class="bigsize healthyfood">F</span>
                    </div>
                  
                    <div class="span3 wow rollIn" data-wow-delay='0.5s'>
                      <span class="bigsize healthyfood">O</span>
                    </div>
                  
                    <div class="span3 wow rollIn" data-wow-delay='0.5s'>
                      <span class="bigsize healthyfood">O</span>
                    </div>
                  
                    <div class="span3 wow lightSpeedIn" data-wow-delay='0.5s'>
                      <span class="bigsize healthyfood">D</span>
                    </div>
                  
                    <div class="span3 wow lightSpeedIn" data-wow-delay='0.5s'>
                      <span class="bigsize healthyfood">I</span>
                    </div>
        
                    <div class="span3 wow lightSpeedIn" data-wow-delay='0.5s'>
                        <span class="bigsize healthyfood">E</span>
                      </div>
              </div>
        </div>   
  </div>

  

  <div class=" bg9">
    <div class="d-flex justify-content-center"><p class="intro1 span3 wow flipInX center" >Giới Thiệu</p></div>
    <div>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
              <div class="col-md-7 bg2 ">
                One of three columns
              </div>
              <!-- <div class="ml-2 col-md-4 bg3">
                Two of three columns
              </div> -->
              <div class="ml-3 col-md-4 bg4 text-paragraph rounded">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt vero corporis veritatis quam et ducimus, perferendis, deleniti perspiciatis iusto explicabo obcaecati? Earum porro repellat numquam culpa, distinctio ratione eveniet illum?

              </div>

            </div>
          </div>
    </div>
  </div>

  <div class="mt-5 p-2">
    <div class="d-flex justify-content-center">
      <p class="intro2 span3 wow flipInX center"> Chọn mùa trong năm </p>
    </div>
    <!-- <div class="d-flex flex-column align-items-center">
      <div><button type="button" class="text-choose btn btn-primary">Mùa Xuân</button></div>
      <img src="../static/shapeImg/1.png">
      <div><button type="button" class="text-choose btn btn-primary">Mùa Hạ</button></div>
      <img src="../static/shapeImg/1.png">
      <div><button type="button" class="text-choose btn btn-primary">Mùa Thu</button></div>
      <img src="../static/shapeImg/1.png">
      <div><button type="button" class="text-choose btn btn-primary">Mùa Đông</button></div>
    </div> -->
    <div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-7 bg2 rounded ">
              One of three columns
              
            </div>
            <div class="ml-3 col-md-4 bg4 text-paragraph rounded">
                Mùa hạ
            </div>
    </div>

  </div>

  {% include 'animated.js' %}
</body>
</html>