 <!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          {% if _flag %}
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Viết món ăn mà bạn muốn chúng mình thêm vào ở đây nhé! :></h5>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center flex-column">
                    <div id = "header">
                                <h2 id="post-title">Đóng góp món ăn</h2>
                            </div>
                          <div id="root">
                 <form action="" method = "POST" id="form">
                    <div id="post-content">
                            <input type="text" style="display: none" name="contribute" value="3">
                            <div class="form-group">
                                    <label for="">Tên món</label> <br>
                                    <input type="text" name = "Title" class="block">
                                </div>
                            
                                <div class="form-group">
                                    <label for="">Bạn cho link ảnh vào đây nhé :)</label> <br>
                                    <input type="text" name = "Image" class="block">
                                </div>
                                
                                <div class="form-group">
                                    <label for="">Nguyên liệu</label> <br>
                                    <textarea name="nguyenlieu" id="" cols="30" rows="10"></textarea>
                    
                                </div>

                                <div class="form-group">
                                    <label for="">Cách làm</label> <br>
                                    <textarea name="cachlam" id="" cols="30" rows="10"></textarea>
                    
                                </div>

                              <div class="form-group">
                                    <label for="exampleFormControlSelect1">Bữa</label>
                                    <select name="dish" class="form-control" id="exampleFormControlSelect1">
                                        <option value="breakfast">Breakfast</option>
                                        <option value="lunch">Lunch</option>
                                        <option value="dinner">Dinner</option>
                                    </select>
                            </div>
                    
                            <div class="form-group">
                                    <label for="2">Mùa</label>
                                    <select name="season" class="form-control" id="2">
                                        <option value="spring">Spring</option>
                                        <option value="lunch">Summer</option>
                                        <option value="autumn">Autumn</option>
                                        <option value="winter">Winter</option>
                                    </select>
                            </div>
                                <button type="submit" class="btn">Gửi</button>
                            </form>
                    </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
          {% else %}
          <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"></h5>
              </div>
              <div class="modal-body d-flex justify-content-center align-items-center flex-column">
                      <div id = "header">
                                  <h2 id="post-title">Các bạn hãy login để có thể đóng góp thêm món ăn nhé :') </h2>
                              </div>
                            <div id="root" class="justify-content-around">
                              <a href="{{url_for('login')}}"><button type="button" class="m-3 btn btn-primary">Login</button></a>
                              <a href="{{url_for('signup')}}"><button type="button" class="m-3 btn btn-primary">Sign Up</button></a>
                            </div>  
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      </div>