<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Healthy Foodie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="../static/new.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body>
    <div id = "root">
        <div id = "season">
            <h1 id="text">Spring</h1>
        </div>
        
        <div id="page-content">
            <div class = "left-collumn">
                <div class = "collumn-title">
                    <h2>Sáng</h2>
                </div>

                <div class = "column-content">
                    <div class="column-item">
                    <div class ="img"><a href="https://placeholder.com"><img src="https://via.placeholder.com/350x150"></a></div>
                        <h3>food</h3>
                        <div class = "line"></div>
                        <a href="https://placeholder.com"><img src="https://via.placeholder.com/350x150"></a>
                        <h3>food</h3>
                        <div class = "line"></div>
                    </div>
                </div>
            </div>

            <div class = "middle-collumn">
                <div class = "collumn-title">
                    <h2>Sáng</h2>
                </div>
        
                <div class = "column-content">
                    <div class="column-item">
                        <a href="https://placeholder.com"><img src="https://via.placeholder.com/350x150"></a>
                        <h3>food</h3>
                        <div class = "line"></div>
                        <a href="https://placeholder.com"><img src="https://via.placeholder.com/350x150"></a>
                        <h3>food</h3>
                        <div class = "line"></div>
                    </div>
                </div>
            </div>

            <div class = "right-collumn">
                <div class = "collumn-title">
                    <h2>Sáng</h2>
                </div>
            
                <div class = "column-content">
                    <div class="column-item">
                        <a href="https://placeholder.com"><img src="https://via.placeholder.com/350x150"></a>
                        <h3>food</h3>
                        <div class = "line"></div>
                        <a href="https://placeholder.com"><img src="https://via.placeholder.com/350x150"></a>
                        <h3>food</h3>
                        <div class = "line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>