<!DOCTYPE html>
<html>
<head>
    <!-- <title>Healthy Foodie</title>
    {% include 'metadata.html' %} -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Healthy Foodie</title>
    {% include 'metadata.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/pagecon2.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    <div id = "root header">
        <div id = "season" class="{{img_season}} d-flex justify-content-center align-items-center">
            <h1 class="text-h1">{{img_season}}</h1>
        
        </div>
        <div id="page-content" class="container">
            <div class = "left-collumn">
                <div class = "collumn-title">
                    <h2>Sáng</h2>
                </div>
                
                <div class = "column-content">
                        {% for food in list_food_breakfast_html %}
                        <div class="column-item">
                            <a href="{{url_for('pagecon2', getID = food.id)}}"><img class ="img" src="{{food.img}}"></a>
                            <h3>{{food.title}}</h3>
                            <div class = "line"></div>
                            <!-- <a href="https://placeholder.com"><img class ="img" src="{{food.img}}"></a>
                            <h3>food</h3>
                            <div class = "line"></div> -->
                        </div>
                        {% endfor %}
                </div>
                
            </div>
            <div class = "middle-collumn">
                <div class = "collumn-title">
                    <h2>Trưa</h2>
                </div>
               
                
                <div class = "column-content">
                    {% for food in list_food_lunch_html %}
                    <div class="column-item">
                        <a href="{{url_for('pagecon2', getID = food.id)}}"><img class ="img" src="{{food.img}}"></a>
                        <h3>{{food.title}}</h3>
                        <div class = "line"></div>
                    </div>
                    {% endfor %}
                </div>
                
                

            </div>

            <div class = "right-collumn">
                <div class = "collumn-title">
                    <h2>Tối</h2>
                </div>
                
                <div class = "column-content">
                        {% for food in list_food_dinner_html %}
                    <div class="column-item">
                        <a href="{{url_for('pagecon2', getID = food.id)}}"><img class ="img" src="{{food.img}}"></a>
                        <h3>{{food.title}}</h3>
                        <div class = "line"></div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

</body>
</html>