<!DOCTYPE html>
<html>
<head>
    <title>Healthy Foodie</title>
    {% include 'metadata.html' %}
</head>
<body>
    <div id = "root">
        <div id = "season">
            <h1 id="text">Spring</h1>
        </div>
        
        <div id="page-content">
            <div class = "left-collumn">
                <div class = "collumn-title">
                    <h2>Sáng</h2>
                </div>

                <div class = "column-content">
                        <div class="column-item">
                            <a href="https://placeholder.com"><img class ="img" src="https://via.placeholder.com/350x150"></a>
                            <h3>food</h3>
                            <div class = "line"></div>
                            <a href="https://placeholder.com"><img class ="img" src="https://via.placeholder.com/350x150"></a>
                            <h3>food</h3>
                            <div class = "line"></div>
                        </div>
                </div>
            </div>
            <div class = "middle-collumn">
                <div class = "collumn-title">
                    <h2>Sáng</h2>
                </div>
        
                <div class = "column-content">
                    <div class="column-item">
                        <a href="https://placeholder.com"><img class ="img" src="https://via.placeholder.com/350x150"></a>
                        <h3>food</h3>
                        <div class = "line"></div>
                        <a href="https://placeholder.com"><img class ="img" src="https://via.placeholder.com/350x150"></a>
                        <h3>food</h3>
                        <div class = "line"></div>
                    </div>
                </div>
            </div>

            <div class = "right-collumn">
                <div class = "collumn-title">
                    <h2>Sáng</h2>
                </div>
            
                <div class = "column-content">
                    <div class="column-item">
                        <a href="https://placeholder.com"><img class ="img" src="https://via.placeholder.com/350x150"></a>
                        <h3>food</h3>
                        <div class = "line"></div>
                        <a href="https://placeholder.com"><img class ="img" src="https://via.placeholder.com/350x150"></a>
                        <h3>food</h3>
                        <div class = "line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>