<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Healthy Foodie</title>
    {% include 'metadata.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/pagecon2.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body>
          {% include 'header.html' %}
          <div id = "header">
                <h2 id="post-title">{{food.title}}</h2>
            </div>
          <div id="root">

            <div id="post-content" >
                <img src="{{food.img}}" alt="Món ăn">
                <h4>Nguyên liệu: {{food.nguyenlieu}}</h4>
                <h4>Cách làm: {{food.cachlam}}</h4>
                {% if author_with_id != {} %}
                <h6>Người viết: {{author_with_id.first_name}} {{author_with_id.last_name}} - Email: {{author_with_id.email}}</h6>
                {% endif %}
             {% if saved %}
             <button id="button" class="btn btn-primary disabled">Đã lưu </button>
             {% else %}
             <a href="{{url_for('fav', id = food.id)}}"><button id="button" class="btn btn-primary">Lưu món này ^^ </button></a>
             {% endif %}
        </div>
        
        

        <div id ="main">
        <div id="side-column">
            <h2 class="text-center">Có thể bạn quan tâm</h2>
            {% for f in recommend %}
            <div class="side-column-item d-flex justify-content-center align-items-center flex-column">
                <a href="{{url_for('pagecon2', getID = f.id)}}"><img class ="img" src="{{f.img}}"></a>
                <h3 class="text-center">{{f.title}}</h3>
                <div class = "line"></div>
            </div>
            {% endfor %}
        </div>
        <!-- {% for food in list_food_dinner_html %}
        <div class = "column-content">
            <div class="column-item">
                <a href="{{url_for('pagecon2', getID = food.id)}}"><img class ="img" src="{{food.img}}"></a>
                <h3>{{food.title}}</h3>
                <div class = "line"></div>
        {% endfor %}
        <div> -->

          
      </div>
    </div>
    
</body>
</html>