<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="main.js"></script>
    <link rel="stylesheet" href="../static/profilepage.css">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Healthy Foodie</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hôm nay ăn gì?
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Xuân</a>
                    <a class="dropdown-item" href="#">Hạ</a>
                    <a class="dropdown-item" href="#">Thu</a>
                    <a class="dropdown-item" href="#">Đông</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Đóng góp</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link disabled" href="#">Follow</a>
                      </li>
              </ul>
            </div>
          </nav>
          <div id="root">
          <div id ="side-bar">
            <div id="BioProfile">
              <img id="img" src="http://via.placeholder.com/350x150" alt="Món ăn" href="http://www.placegolder.com/350x150">  
              <h3 >Username</h3>
            </div>
          </div>
          <div id = "main_panel">
            <div id = "bookmark">
              <h3>Bookmark</h3>
            </div>
            <div id="page-content">
            <div class="saved-post">
                <h3>Món ăn</h3>
                <img src="http://via.placeholder.com/350x150" alt="Món ăn" href="http://www.placegolder.com/350x150">
            </div>

            <div class="saved-post">
                <h3>Món ăn</h3>
                <img src="http://via.placeholder.com/350x150" alt="Món ăn" href="http://www.placegolder.com/350x150">
            </div>
          </div>
        </div>
    </div>
</div>
</body>
</html>