<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Healthy Foodie</title>
    {% include 'metadata.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/profilepage.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body>
      {% include 'header.html' %}

          <div id="root">
          <div id ="side-bar">
            <div id="BioProfile">
              <img id="img" src="../static/header5.jpg" alt="Món ăn" href="http://www.placegolder.com/350x150"> 
              <h3 > {{user_current.first_name}} {{user_current.last_name}}</h3>
              <h3 >{{user_current.email}}</h3>
            </div>
          </div>
          
          <div id = "main_panel">
            <div id = "bookmark">
              <h3>Bookmark</h3>
            </div>
            <div id="page-content">
            {% for food_in_user in user_current.favorite %}
            <div class="saved-post">
                <h3>{{food_in_user.title}}</h3>
               <a href="{{url_for('pagecon2', getID = food_in_user.id)}}"><img style="width: 350px; height: 150px;object-fit: cover;" class="rounded" src="{{food_in_user.img}}" alt="Món ăn" ></a>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
</div>
</body>
</html>